.wrapper {
  display: flex;
  gap: 0.75rem;
  position: sticky;
  top: 5.5rem;
}

#sideImageSwiper {
  width: 85px;
}

#getItBtn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  background-color: #ff9f00;
  color: #fff;
  font-size: 1.025rem;
  text-transform: capitalize;
  transition: background-color 200ms ease;
}

#getItBtn:hover {
  background-color: rgba(255, 157, 0, 0.85);
}

.isSmall #mainImageSwiper {
  order: -1;
}

.isSmall #sideImageSwiper {
  height: 90px;
}

.isSmall.wrapper {
  flex-direction: column;
}

.isSmall #sideImageSwiper {
  width: 150px;
}
