.wrapper {
  display: flex;
  gap: 0.75rem;
}

#sideImageSwiper {
  width: 85px;
}

#getItBtn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  background-color: #ff9f00;
  color: #fff;
  font-size: 1.025rem;
  text-transform: capitalize;
  transition: background-color 200ms ease;
}

#getItBtn:hover {
  background-color: rgba(255, 157, 0, 0.85);
}
