.wrapper {
  position: sticky;
  top: 5.5rem;
}

#mainImageSwiper {
  height: 450px;
  background-color: #eeeeee;
}

#sideImageSwiper {
  width: 85px;
  height: 90px;
  width: 100%;
  margin-top: 1rem;
}

#getItBtn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  background-color: #ff9f00;
  color: #fff;
  font-size: 1.025rem;
  text-transform: capitalize;
  transition: background-color 200ms ease;
}

#getItBtn:hover {
  background-color: rgba(255, 157, 0, 0.85);
}
