/*
- General
- Herso Section 
- Best Seller Section
- Information Section
*/

/* General */
.textDark {
  color: #000;
}

.textLight {
  color: #fff;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.main section {
  margin: auto;
  padding: 6rem 0;
}

/* Herso Section */
#heroSection {
  padding-top: 6rem;
}

#heroHeading {
  margin-bottom: 3rem;
  color: #fff;
  font-size: 2.25rem;
  font-weight: var(--fw-medium);
}

.carouselWrapper {
  max-width: 520px;
  margin: auto;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border: white solid 0.4rem;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(0, 0, 0, 0.692) 100%
  );
}

.heroImageTitle {
  position: absolute;
  right: 1.25rem;
  bottom: 0.95rem;
  color: #fff;
  z-index: 1;
  font-size: 1.05rem;
  font-weight: var(--fw-medium);
}

.exploreBtn {
  font-size: 1.025rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 200ms ease;
}

.exploreBtn:hover {
  background-color: rgba(255, 255, 255, 0.116);
}

@media (max-width: 900px) {
  .carouselWrapper {
    margin-top: 2rem;
  }
}

/* Best Seller Section */

.sectionHeading {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);
}

/* Information Section */

.discription {
  font-size: 1.5rem;
  line-height: 1.5;
}

.discription span {
  display: block;
  padding: 1rem;
}

.infoImage {
  border: 0.5rem solid white !important;
  border-radius: var(--border-radius);
}
